body 
{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d4eaff;
    color: #ecf0f1;
}

.calculator
 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 400px;
}

.display 
{
    grid-column: span 4;
    background-color: #2c4763;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    color: #adc8ce;
    margin-bottom: 10px;
    border-radius: 8px;
}

button
{
    padding: 15px;
    font-size: 1em;
    background-color: #239ff1;
    color: #9fdeed;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.1s;
}

button:hover
{
    background-color: #1b7dbe;
    transform: scale(1.05);
}

.clear-btn
{
    background-color: #e72712;
}

.number-btn 
{
    background-color: #1a8948;
}

.decimal-btn
{
    background-color: #28c7a7;
}

.equals-btn 
{
    background-color: #f3a21f;
}
